@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* COLORS */
$primary-color: #fafe28;
$primary-color-hover: #ffdd00;

:global(#app) {
	.footer {
		height: 526px;
		margin-top: 100px;
		padding-top: 100px;
		padding-bottom: 50px;

		background-color: #071c55;
		background-image: url("../../assets/footer-bg.png");
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;

		.footerRow {
			margin-left: 41.5vh;
			margin-right: 41vh;

			.footerColumn {
				border: 1px solid red;

				img {
					padding-bottom: 20px;
					width: 215px;
				}

				p {
					color: #fff;
					padding-right: 18px;
					margin-bottom: 20px;
					font-family: "Roboto", sans-serif;
					font-style: normal;
					font-size: 16px;
					font-weight: 400;
					line-height: 1.8;
				}

				h4 {
					color: #fff;
					position: relative;
					padding-bottom: 20px;
					// margin-bottom: 50px;
					z-index: 1;
					font-size: 24px;
					margin: 0px;
					font-weight: 600;
					font-family: "Poppins", sans-serif;
					line-height: 1.2;

					&::before {
						position: absolute;
						content: "";
						z-index: -1;
						width: 40px;
						height: 2px;
						background-color: #fca702;
						bottom: 0;
						left: 0;
					}

					&::after {
						position: absolute;
						content: "";
						z-index: -1;
						width: 5px;
						height: 2px;
						background-color: #fca702;
						bottom: 0;
						left: 45px;
					}
				}

				ul {
					margin-top: 30px;

					li {
						list-style: none;
						text-decoration: none;
						color: #fff;
						transition: all 0.5s ease-in-out;
						font-family: "Roboto", sans-serif;
						font-style: normal;
						font-size: 16px;
						font-weight: 400;
						line-height: 1.8;
						cursor: pointer;
						margin-left: -38px;
						margin-bottom: 15px;

						&:hover {
							padding-left: 10px;
							color: #fca702;
						}

						.footerIcon {
							margin-right: 10px;
						}
					}
				}

				.footerDivIcon {
					display: inline-block;
					margin-top: 15px;

					.footerIcon {
						height: 40px;
						width: 40px;
						line-height: 35px;
						text-align: center;
						border: 2px solid #fca702;
						color: #fff;
						border-radius: 50%;
						transition: all 0.5s ease-in-out;
						margin-right: 15px;

						&:hover {
							background: #fca702;
							color: #fff;
						}
					}
				}
			}

			.footerColumnContact {
				border: 1px solid yellow;

				h4 {
					color: #fff;
					position: relative;
					padding-bottom: 20px;
					z-index: 1;
					font-size: 24px;
					margin: 0px;
					font-weight: 600;
					font-family: "Poppins", sans-serif;
					line-height: 1.2;

					&::before {
						position: absolute;
						content: "";
						z-index: -1;
						width: 40px;
						height: 2px;
						background-color: #fca702;
						bottom: 0;
						left: 0;
					}

					&::after {
						position: absolute;
						content: "";
						z-index: -1;
						width: 5px;
						height: 2px;
						background-color: #fca702;
						bottom: 0;
						left: 45px;
					}
				}

				input {
					// background-color: red;
					width: 272px;
					border: 2px solid #e8e8e8;
					height: 50px;
					padding: 0 15px;
					border-radius: 10px;
					font-size: 16px;
					color: #fff;
					box-shadow: none;
					background-color: transparent;

					&::placeholder {
						color: #fff;
					}
				}

				p {
					color: #fff;
					padding-right: 18px;
					margin-bottom: 20px;
					font-family: "Roboto", sans-serif;
					font-style: normal;
					font-size: 16px;
					font-weight: 400;
					line-height: 1.8;
					margin-top: 30px;
				}

				ul {
					margin-top: 30px;

					li {
						list-style: none;
						text-decoration: none;
						color: #fff;
						transition: all 0.5s ease-in-out;
						font-family: "Roboto", sans-serif;
						font-style: normal;
						font-size: 16px;
						font-weight: 400;
						line-height: 1.8;
						cursor: pointer;
						margin-left: -38px;
						margin-bottom: 20px;

						&:hover {
							padding-left: 10px;
							color: #fca702;
						}

						.footerIcon {
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}
